[submodule "mib-api-gateway"]
	path = mib-api-gateway
	url = https://github.com/Akraier/mib01-api-gateway
[submodule "mib-user"]
	path = mib-user
	url = https://github.com/Akraier/mib-user
[submodule "mib-message"]
	path = mib-message
	url = https://github.com/francesboc/mib-message
	branch = main
[submodule "mib-lottery"]
	path = mib-lottery
	url = https://github.com/lcnz/mib-lottery.git
